* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
body {
  width: 100%;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}
.sticky {
  position: sticky;
  top: 0;
}
