.navBar {
   z-index: 10;
   background-color: #fff;
   box-shadow: 0 1px 2px 0 rgb(50 50 50 / 40%);
   width: 100%;
}
.navBarInner {
    padding: 0 10px;
    display: flex;
    text-align: center;
}
.navBar li {
    border-width: 1px;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    color: #6b6b6b;
    height: 46px;
    line-height: 46px;
    border-right: 1px solid hsla(0,0%,80%,.65);
    transition: .2s ease;
}
.navBar li:hover {
    color: #154166!important;
    cursor: pointer;
    background-color: #ededef;
}
.navBar a {
    display: block;
    height: 100%;
    padding: 0 11px;
}